
services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:1.35.3
    volumes:
      - ./data:/data:Z             # where my persisted data already lives
      - ./etc:/etc/vaultwarden.d:Z # the new scripts directory, mapped to /etc/vaultwarden.d
    environment:
      - WEBSOCKET_ENABLED=true
      - ADMIN_TOKEN=${ADMIN_TOKEN}
      - SIGNUPS_ALLOWED=false
      - EXPERIMENTAL_CLIENT_FEATURE_FLAGS=ssh-key-vault-item,ssh-agent
    ports:
      - "127.0.0.1:17881:80"
      - "127.0.0.1:13012:3012"
    restart: always
    logging:
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
